.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-conometro-dark-blue {
    width: 34px;
    height: 34px;
    background-position: -5px -5px;
    size:3vw;
}

.sprite-conometro-white {
    width: 34px;
    height: 34px;
    background-position: -49px -5px;
}
